<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Manage devices for counter</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/jQuery-contextMenu/dist/jquery.contextMenu.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt-plugins.css" />
    <link rel="stylesheet" href="styles/devices.css">

</head>
<body ng-app="angularGanttDemoApp" ng-strict-di>

<div ng-controller="MainCtrl">
    <div class="navbar navbar-default" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Manage devices</a>
        </div>
    </div>

    <div class="container-content" ng-show="false">
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <i class="fa fa-cog fa-spin"></i> Loading devices list ...
                </div>
            </div>
        </div>
    </div>

    <div class="container-content" ng-cloak="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="" bs-collapse-toggle>設定</a>
                                </h4>
                            </div>
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-inline">
                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-clock-o"></i> Today</label><br>
                                                <button type="button" style="width: 6em; text-align: left" class="btn btn-default" ng-model="options.currentDate" bs-options="d for d in ['none', 'line', 'column']" bs-select></button>
                                            </div>

                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-pencil-square-o"></i> Edit</label><br>
                                                <button type="button" class="btn btn-default" ng-model="options.draw" bs-checkbox>Draw</button>
                                                <button type="button" class="btn btn-default" ng-model="options.readOnly" bs-checkbox>Read Only</button>
                                            </div>

                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-crop"></i> Layout</label><br>
                                                <div class="btn-group" bs-checkbox-group>
                                                    <button type="button" class="btn btn-default" ng-model="options.maxHeight" bs-checkbox>Height</button>
                                                    <button ng-disabled="!canAutoWidth(options.scale)" type="button" class="btn btn-default" ng-model="options.width" bs-checkbox>Width</button>
                                                </div>
                                            </div>

                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-search"></i> Zoom</label><br>
                                                <input ng-disabled="!options.width" type="number" ng-model="options.zoom" step="0.1" min="0.1" max="5" class="form-control" />
                                            </div>


                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-text-width"></i> Labels</label><br>
                                                <div class="btn-group" bs-checkbox-group>
                                                    <button type="button" class="btn btn-default" ng-model="options.labelsEnabled" bs-checkbox>Show</button>
                                                    <button type="button" class="btn btn-default" ng-model="options.allowSideResizing" bs-checkbox>Resizable</button>
                                                </div>
                                            </div>

                                            <div class="form-group text-center">
                                                <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Date range</label><br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="options.fromDate" max-date="{{options.toDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="From" bs-datepicker data-date-format="yyyy-MM-dd" style="width:100px;">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="options.toDate" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="To" bs-datepicker data-date-format="yyyy-MM-dd" style="width:100px;">
                                                </div>
                                            </div>

                                            <div class="form-group text-center">
                                                <label class="control-label"> Data</label><br>
                                                <div class="form-group">
                                                    <button class="btn btn-default" ng-click="resort()">Resort</button>
                                                    <button class="btn btn-default" ng-click="reset()">Reset</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-buffer hidden">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button class="btn btn-default" ng-click="" title="Previous">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button class="btn btn-default" ng-click="" title="Next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <div class="panel-group" bs-collapse>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="" bs-collapse-toggle>端末一覧</a>
                                </h4>
                            </div>
                            <div class="panel-collapse" bs-collapse-target>
                                <div class="panel-body">
                                    <div gantt
                                         data="data"
                                         timespans="timespans"
                                         show-side="options.labelsEnabled"
                                         daily="options.daily"
                                         filter-task="{'name': options.filterTask}"
                                         filter-row="{'name': options.filterRow}"
                                         sort-mode="options.sortMode"
                                         view-scale="options.scale"
                                         column-width="getColumnWidth(options.width, options.scale, options.zoom)"
                                         auto-expand="options.autoExpand"
                                         task-out-of-range="options.taskOutOfRange"
                                         from-date = "options.fromDate"
                                         to-date = "options.toDate"
                                         allow-side-resizing = "options.allowSideResizing"
                                         task-content = "options.taskContentEnabled ? options.taskContent : undefined"
                                         row-content = "options.rowContentEnabled ? options.rowContent : undefined"
                                         current-date="options.currentDate"
                                         current-date-value="options.currentDateValue"
                                         headers="['month', 'day']"
                                         headers1="options.width && options.shortHeaders || options.longHeaders"
                                         max-height="options.maxHeight && 300 || 0"
                                         time-frames="options.timeFrames"
                                         date-frames="options.dateFrames"
                                         time-frames-working-mode="options.timeFramesWorkingMode"
                                         time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                                         time-frames-magnet="options.timeFramesMagnet"
                                         api="options.api"
                                         column-magnet="options.columnMagnet">
                                        <gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"
                                                    header-content="options.treeHeaderContent"
                                                    keep-ancestor-on-filter-row="true">
                                        </gantt-tree>
                                        <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
                                                     columns="options.sideMode === 'TreeTable' ? options.treeTableColumns : options.columns"
                                                     headers="options.columnsHeaders"
                                                     classes="options.columnsClasses"
                                                     formatters="options.columnsFormatters"
                                                     contents="options.columnsContents"
                                                     header-contents="options.columnsHeaderContents">
                                        </gantt-table>
                                        <gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'" display="options.groupDisplayMode"></gantt-groups>
                                        <gantt-tooltips date-format="'YYYY-MM-DD'"></gantt-tooltips>
                                        <!--
                                        <gantt-bounds></gantt-bounds>
                                        <gantt-progress></gantt-progress>
                                        <gantt-sortable></gantt-sortable>
                                        -->
                                        <gantt-movable enabled="!options.readOnly"></gantt-movable>
                                        <gantt-draw-task
                                            enabled="options.canDraw"
                                            move-threshold="2"
                                            task-factory="options.drawTaskFactory">
                                        </gantt-draw-task>
                                        <!-- <gantt-overlap></gantt-overlap> -->
                                        <gantt-resize-sensor></gantt-resize-sensor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-gantt/assets/angular-gantt.js"></script>
<script src="bower_components/angular-gantt/assets/angular-gantt-plugins.js"></script>
<script src="bower_components/moment-range/dist/moment-range.js"></script>
<script src="bower_components/css-element-queries/src/ElementQueries.js"></script>
<script src="bower_components/css-element-queries/src/ResizeSensor.js"></script>

<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/jQuery-contextMenu/dist/jquery.contextMenu.js"></script>

<script src="dist/watch.bundle.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/devices.js"></script>
<script src="scripts/devicesData.js"></script>

</body>
</html>
